<div class="side_list">
		<div class="user_search card input-field col m6">
          <i class="material-icons prefix cyan-text accent-4">search</i>
          <input type="text">
        </div>
		 <ul class="collection">
		    <li class="collection-item avatar pointit" ng-repeat="x in ['user1', 'user2', 'user3', 'user4','user5', 'user6', 'user7', 'user8']">
		      <img class="circle set_line_height" src="https://dummyimage.com/300/09f/fff.png" alt="">
		      <p class="user_name_list">{{x | uppercase}}</p>
		      <p class="list_time">12/12/12</p><br>
		      <p class="message_sample">Hi there</p>
		    </li>
		</ul>
</div>
<div class="chat_arena">
	<div class="message-area">
	 	<textarea class="text-box" placeholder="Message @user2"></textarea>
	 	<i class="material-icons prefix  cyan-text pointit">face</i>
	 </div>
</div>