<div class="container" ng-controller="AuthController">
<div class="row">

  <div class="col s12"></div>
  <div class="col s12 m12 l2"></div>
  <div class="col s12 m12 l8">
    <div class="row card trans">
      <div class="card-tabs card-content">
       <ul class="tabs  tabs-fixed-width">
        <li class="tab col s3"><a class="active" href="#login">Log In</a></li>
        <li class="tab col s3"><a href="#signin">Sign Up</a></li>
      </ul>
      </div>
    <div id="login">
    <div class="card-content center welcome">
      <h5>Welcome Back!</h5>
    </div>
    <form class="col s12" method="post" action="login.php">
      <div class="row">
        <div class="input-field col s12">

          <input id="username" name="username"type="text" class="validate" autocomplete="off" required>
          <label for="username">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password"name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="pointit" ng-click="">Forgot Password?</div><br><br>
      <div class="row center">
        <a class="waves-effect waves-light btn-large cyan accent-4">Login</a>
      </div>
    </form>
</div>
<div id="signin" >
<div class="card-content center welcome">
<h5>Sign Up for Free!</h5>
</div>
<form class="col s12" method="post" action="user.php">
  <div class="row">
    <div class="input-field col s12">
      <input id="username" type="text" name="username"class="validate" required>
      <label for="username">User Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" name="email" autocomplete="off">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" name = "password"class="validate" required>
      <label for="password">Password</label>
    </div>
  </div>
  <div class="pointit" ng-click="">Already have an Account?</div><br><br>
  <div class="row center">
    <a class="waves-effect waves-light btn-large cyan accent-4">Sign Up</a>
  </div>
</form>
</div>
</div>
<div class="col s12 m12 l2 4"></div>
</div>
</div>
</div>
