body {
	margin:0;
	padding: 0;
background: #DFE2DB
}

.trans {
	background:none;
	background: #fff;
}

.pointit {
	cursor: pointer;
}
/*Css for the tabs*/
.card-tabs a {
	color: #00b8d4 !important;
	font-weight: bold;
}
.card-tabs .indicator{
	background-color: #00b8d4;
}
/*tabs css ends here*/

.welcome {
	color:  #00b8d4;
	card:white;
}
.btn-large {
	width: 90% !important;
}

@media screen and (min-width: 568px) {
	#toast-container {
		position: fixed;
		top: 0px !important; 
		min-width: 90%;
		text-align: center
	}
}

.side_list {
	position:fixed;
	height:auto;
	width:25%;
	height:100vh;
	overflow-y:auto;
	background:#fff;
	padding:10px 0px 25px 0px;
}

.user_name_list {
	float:left;
	line-height: 15px;
	padding-left:10px;
	font-weight: 600;
}
.list_time {
	font-size: 12px;
	float:right;
	line-height: 15px;
}

.set_line_height {
	margin-top:10px;
}

.message_sample {
	font-size:12px;
	padding-left:10px;
}


.user_search {
	height:45px;
}

.user_search > .prefix {
	line-height:43px;
	padding:2px 5px 0px 10px;
	font-size: 27px;
	font-size: 27px
}

.user_search > input {
	border:0;
}
.user_search > input:focus {
	border:0 !important;
	border-color: #fff !important;
	padding:0;
	box-shadow:0px 0px 0px #fff !important;
}

.user_search {
	margin:-2px;
}


.chat_arena {
	position:fixed;
	height:auto;
	right:0;
	width:74.5%;
	height:100vh;
	overflow-y:auto;
	background:#eceff1;
	padding:10px 0px 25px 0px;
}

.text-box {
	resize:none !important;
	border-radius: 0px;
	padding:14px 14px 0px 14px !important;
	border-width: 2px;
	height: 55px;
	border:2px solid #00bcd4 !important;
	background: #fff;
	border-right: 0 !important;
}

.text-box:focus {
	outline: none;
	border-color: #0097a7;
}


.message-area {
	height:auto;
	width:74%;
	right:0px;
	position:fixed;
	bottom:4px;
	margin:0px 5px 1px 5px;	
	padding: 2px 0px 0px 0px;
	display: flex;
}

.message-area .prefix{
	font-size:32px;
	background:#fff;
	line-height: 45px;
	padding:5px 2px 0px 0px;
	border:2px solid #00bcd4;
	border-left:0;
}
.message-area > .prefix:hover {
	color:#0097a7;
}
